* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #373737;
  background-color: #fff;
}

.darc-mode{
  background-color: #373737;
  color: #fff;
}


